
$base-menu-width-collapse: 58px;
$base-menu-width: 200px;
$base-menu-background: #2A2D34;
$base-menu-logo-height: 100px;
$base-menu-active-bg-color: #409eff10;
$base-logo-title-fontsize: 20px;
$base-logo-title-fontsize-collapse: 20px;
$base-tabbar-height: 50px;




